.new-post-page {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: black;
}

.form-control {
  background-color: transparent;
  border: 1px solid #ff3c3c;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1rem;
}

.custom-input:focus,
.custom-textarea:focus {
  border-color: #ff5e5e;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 60, 60, 0.3);
}

.new-post-form textarea {
  height: 150px;
  resize: vertical;
}

.new-post-form button {
  background-color: #e50914;
  padding: 12px;
  width: 100%;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
