.search-input {
  width: 150px;
  transition: width 0.3s ease;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin-left: -210px;
}

.search-input:focus {
  width: 250px;
}
